</div> <!-- ui container-->

<!-- jquery -->
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
<!-- fomantic ui -->
<script src="https://unpkg.com/fomantic-ui@2.8.6/dist/semantic.min.js"></script>
<!-- CKEditor editor -->
<script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
<!-- tippy.js -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<!-- public js -->
<script src="/js/code.js"></script>
<!-- <script src="/js/formValidate.js"></script> -->
</body>

</html>